h2 {
  font-weight:900;
  font-size: 18px;
  margin-bottom: 30px;
}

.header {
  background-color: #f8f9fa;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 1300px;
  margin: auto; 
}

.header h2 {
  font-size: 1.5rem;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-data {
    background-color: #efefef;
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 1200px;
    margin-bottom: 20px;
}

.profile-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1; 
    margin-right: 10px; 
}

.profile-user-name,
.profile-real-name {
    margin: 5px 0; 
}
.btn.profile-photo-btn {
    padding: 6px 12px;
    font-size: 16px;
    width: 130px;
}

.profile-user-name {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.profile-real-name {
  font-size: 14px;
  color: #737373;
}

.profile-bio input,.profile-website input,.profile-gender select{
  width: 1200px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  color: #000;
  font-size: 17px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0095f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
}

.btn:hover {
  background-color: #0056b3;
}

main {
  margin: 50px; 
}