body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}

h2 {
  font-weight: 500;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="file"] {
  margin-bottom: 20px;
}

.profile-data {
    background-color: #efefef;
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 680px;
}

.profile-photo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1; 
    margin-right: 10px; 
}

.profile-user-name,
.profile-real-name {
    margin: 5px 0; 
}
.btn.profile-photo-btn {
    padding: 6px 12px;
    font-size: 16px;
    width: 130px;
}

.profile-user-name {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.profile-real-name {
  font-size: 14px;
  color: #737373;
}

.profile-bio textarea,.profile-website textarea,.profile-gender select{
  width: 700px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  color: #000;
  font-size: 17px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0095f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
}

.btn:hover {
  background-color: #0056b3;
}

main {
  max-width: 800px;
  margin: 0 auto; 
  margin-right: 20px; 
}