.header-container {
  background-color: #f9fafb; 
  border-bottom: 2px solid #e2e8f0;
  padding: 20px; 
  margin-left: 280px; 
  width: 1100px;
}

.header-text {
  font-size: 24px;
  font-weight: bold; 
  color: #2b3b57;
}

h2 {
  font-weight:600;
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 30px;
  color: #737373;
}

hr {
  width: 1100px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-data {
    background-color: #efefef;
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 1100px;
    margin-bottom: 20px;
}

.profile-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1; 
    margin-right: 10px; 
}

.profile-user-name,
.profile-real-name {
    margin: 5px 0; 
}

.profile-user-name {
  font-size: 16px !important; 
  color: #000000;
  font-weight: bold;
}

.profile-real-name {
  font-size: 14px;
  color: #737373;
}

.profile-bio input,.profile-website input,.profile-gender select{
  width: 1100px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  color: #000;
  font-size: 17px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0095f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
}

.btnn:hover {
  background-color: #0056b3;
}

.profile-photo-btn {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: normal; 
  width: 130px;
}

main {
  margin: 50px;
}

.email-verification-container {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f3f4f6;
  border: 1px solid #cbd5e0;
  border-radius: 5px;
  width: 1100px;
}

.email-verification-text {
  font-size: 0.875rem; 
  line-height: 1.25rem; 
  color: #4b5563; 
  margin-bottom: 10px;
}

.resend-verification-button {
  padding: 4px 8px; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  color: #2563eb; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  text-decoration: underline; 
}

.resend-verification-button:hover {
  color: #1d4ed8; 
}

.danger-button {
  padding: 10px 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  background-color: #dc2626;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.danger-button:hover {
  background-color: #b91c1c; 
}